/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #5372F0;
}

.wrapper{
    background: #ffffff;
    width: 380px;
    padding: 40px 30px 50px 30px;
    border-radius: 5px;
    text-align: center;
}

.wrapper header{
    font-size: 35px;
    font-weight: 600s;
}

.wrapper form{
    margin: 40px 0;
}

form input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    padding: 0 15px;
}